@model TimeLineBlog.Models.Article

@{
    ViewData["Title"] = "删除文章";
}

<h1>删除文章</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifyTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifyTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
