@page
@model TimeLineBlog.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.CreateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.LastModifyTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.LastModifyTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.MarkdownContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.MarkdownContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.HTMLContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.HTMLContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
